.socials {
    // margin-left: 70px;
    padding-top: 0;
    padding-top: 15px;
    @include tablet {
        margin-bottom: 105px;
        margin-left: 165px;
        padding-top: 0;
    }
    @include desktop {
        margin-bottom: 105px;
        margin-left: 70px;
        margin-right: 93px;
        padding-top: 15px;
    }
    
}

.socials__list {
    display: flex;
    justify-content: center;
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    transition: background-color var(--transition);
    & {
        fill: currentColor;
    }
    &:hover, &:focus {
        background-color: var(--main-color);
    } 
}