.hide-work {
    display: none;
    @include mobile {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include desktop {
        display: contents;
    }
}

.work {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    @include desktop {
        margin-bottom: 94px;
    }
}

.work__item {
    width: 100%;
    height: 294px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work-item__bar {
    @include desktop {
    position: relative;
    }
}

.work-item__box {
    @include desktop {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
}

.work__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}
